.mce-tinymce{
  box-shadow:none!important;
}

#kws-container span{
  color:#666;
  font-size:.8em;
  margin-right:10px;
} 
  
#kws-container span:hover{
  cursor:pointer;
  color:#0275d8;
} 

i[data-fv-icon-for='news_category']{
  right:15px;
  top:35px;
}
small[data-fv-for="has_images"]{
  position:absolute;
  left:0;
  top:0;
}

i[data-fv-icon-for='has_images']{
  position:absolute;
  right:3px;
  top:0;
}
i[data-fv-icon-for='content']{
  top:50px;
}

i[data-fv-icon-for='__cat_subcats']{
  right:0;
  top:35px;
}

.__sortable-list{
  height:380px;
}




